.profile-container {
    
    margin: 64px auto;
    color: #955f83;
  }
 /* .cover-image{
   object-fit: cover;  
 } */

 .rating-avg{
   border-left: 1px solid #C4C4C4;
 }
 .reviewers{
   padding: 100px;
 }