.profile-container {
    
    margin: 64px auto;
    color: #955f83;
  }
 .cover-image{
   object-fit: cover;  
 }
.profile-sub-container{
  display : flex;



}
.profile-first{
  display: flex;
  flex-direction: column;
}
.right-container{
  width:800px;
  border: var(--input-border);
  margin: 25px 50px 75px 100px;
  padding: 50px;
  box-shadow: var(--card-shadow);
}
.title{
color :var (--main-color)
} 

.rating-avg{
   border-left: 1px solid #C4C4C4;
 }
 .reviewers{
   padding: 100px;
 }

 .main-carousal {
  display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 7px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.carousal-container {
  height: 30vh;
  line-height: 160px;
  overflow: hidden;
  width: 40%;
  padding: 10px;

}

.image-container {
  width: 100%;
  height: 30vh;
}

.slider-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
}