.container-cards {
  padding-top: 40px;
}

.container-cards > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 35px;
  padding-right: 35px;
}

.container-cards > ul > li {
  margin: 0 20px 30px;
  list-style-type: none;
}

#container-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  color: var(--main-color);
}
