.navbar {
  width: 100%;
  height: 65px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 160px 0 55px;
  top: 0;
  height: auto;
}
.navbar .ant-dropdown-trigger {
  min-width: 67px;
}
.navbar-logo-div {
  width: 42%;
}

.add-kinderg-btn {
  margin-top: 10px !important;
}

.navbar-logo-div-title {
  color: #739c98;
  font-weight: bold;
  font-size: 38px;
  margin-bottom: -6px;
  font-weight: 600;
  line-height: 1.23;
}

.navbar-logo-div-title:hover {
  color: #739c98;
}

.navbar-taps-div {
  width: 58%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#drop-down {
  padding: 5px;
  text-align: center;
}

.drop-down-div {
  min-width: 60px;
  margin-top: 5px !important;
  cursor: pointer;
}

.user-name {
  font-weight: bold;
  padding-top: 9px;
}

.icon {
  margin-left: 3px;
}

.drop-down-list-span {
  padding-right: 5px;
}

.drop-down-div .user-image {
  margin-left: 7px;
}

.admin-div-name {
  display: flex;
}

.admin-title-name {
  padding-top: 13px;
  padding-left: 12px;
}

.ant-dropdown-menu-submenu-expand-icon {
  left: 0px;
  right: auto !important;
}

.ant-menu-item {
  display: inline-block !important;
}

#nav-tap {
  height: 60px;
  min-width: 354px;
}
