.search-container{
  display: flex;
}

.search-options{
  box-shadow: var(--input-shadow);
  border: var(--input-border);
  display: flex;
  padding: 8px 15px;
  border-radius:var(--border-radius);
  max-height: 52px;
}

.search-options,
.search-input{
  margin-left:20px;
}

.search-options .drop-list{
  border-left: solid 1px #C4C4C4;
  margin-left:20px;
  min-width: 126px;
}

.search-options .drop-list img{
  width: 15px;
}

.search-options .price-icon{
  width: 26px;
}

.search-options .price-text{
  line-height: 32px;
  margin: 0;
}

.search-options .price-icon,
.search-options .price-text{
  margin-left: 10px;
}

.search-options .slider-label{
  line-height:38px
}

.search-input svg{
  font-size: 21px;
}

.search-input input{
  font-size: 17px;
}

.search-container{
  display: flex;
}

.search-options{
  box-shadow: var(--input-shadow);
  border: var(--input-border);
  display: flex;
  padding: 8px 15px;
  border-radius:var(--border-radius);
  max-height: 52px;
}

.search-options,
.search-input{
  margin-left:20px;
}

.search-options .drop-list{
  border-left: solid 1px #C4C4C4;
  margin-left:20px;
}

.search-options .drop-list img{
  width: 15px;
}

.search-options .price-icon{
  width: 26px;
}

.search-options .price-text{
  line-height: 32px;
  margin: 0;
}

.search-options .price-icon,
.search-options .price-text{
  margin-left: 10px;
}

.search-options .slider-label{
  line-height:38px
}

.search-input svg{
  font-size: 21px;
}

.search-input input{
  font-size: 17px;
}

.search-container .ant-btn{    
  width: 95px;
  border-radius:var(--border-radius);
}

.search-container .ant-btn span{   
  font-weight: bold;
  font-size: 25px;
}
