.form-container {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.title {
  margin: 0 20px;
  padding: 5px 250px;
}

.btn-container {
  display: flex;
  align-content: space-between;
  justify-content: center;
  margin: 0 15px;
}

.form-container .ant-btn {
  border-radius: var(--border-radius);
}

.drop{
    position: relative;
    top: 150px;
}

.slider-input {
  position: relative;
  top: 150px;
}

.period2 {
  position: relative;
  top: 190px;
}
.main-upload{
  position: absolute

}

/* ant-form-item-control-input */
.main-upload .ant-row{
  height: 188px;

}

.main-upload .ant-form-item-control-input-content{
  margin-top: 28px;
}

.imgs{
  padding: 0px 250px;
}

.ant-upload-picture-card-wrapper {
  display: flex !important;
}

.ant-upload-list-rtl {
  direction: ltr !important;
}

.ant-upload-list-picture-card-container {
  width: 113px !important;
  height: 113px !important;
}

.ant-upload-list-picture .ant-upload-list-item,
.ant-upload-list-picture-card .ant-upload-list-item {
  padding: 0px !important;
  border: 0px solid #d9d9d9 !important;
}

.ant-upload-list-item-info {
  border-radius: 5px !important;
}

.ant-upload.ant-upload-select-picture-card {
  width: 113px !important;
  height: 113px !important;
  border-radius: 5px !important;
}

