#footer {
  background-color: var(--main-color) ;
  padding:0;
}

.icon{
  padding-right: 10px;
} 

.icon:hover{
  opacity:0.8;
}

.footer-contents{
  display: flex;
  align-items: center;
  padding:6px 350px  0px 0;
}

.copy-write{
  font-weight: bold;
  color: white;
  margin-right: 55%;
  letter-spacing: 0.1em; 
  margin-top: 5px;
}
