.footer  *{
  background-color: var(--main-color) ;
}

.icon{
  margin-left: 10px;
} 

.icon:hover{
  opacity:0.8;
}

.icons{
  display: flex;
  align-items: center;
  padding:10px 350px  10px 0;
}

.copy-write{
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  margin-right: 55%;
  letter-spacing: 0.1em; 
}
