.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-color) ;
  height: 5vh;
  font-weight: bold;
  color: white;
}

.icon  * {
  color:white !important;
  font-size: 2em;
  margin-top:7px;
  margin-left: 10px;
}

.icon :hover{
  opacity:0.8;
}

.icons{
  margin-right: -250px;
}

.copy-write{
  margin-left: -250px;
}