.ant-menu-item .ant-menu-item-selected {
  color: #fff !important;
  background: #739c98 !important ;
  border-color: #739c98 !important ;
  background-color: #739c98 !important;
  display: block;
}

#nav-tap .ant-menu-rtl {
  font-weight: bold !important;
}

#nav-tap .icon {
  padding: 0;
  width: 30px;
  height: 30px;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: #739c98 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #fff !important;
  font-weight: bold !important;
}

#nav-tap .ant-menu-item-selected .icon {
  fill: #fff;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  margin-bottom: 0 !important;
  padding: 0 20px !important;
  margin: 0 !important;
  top: 0;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: #ffffff !important;
  border-bottom: 2px solid #739c98 !important;
}

.ant-menu-horizontal {
  color: #739c98;
  border-bottom: none !important;
  line-height: 58px !important;
}

#nav-tap .ant-menu-item-selected {
  background-color: #739c98 !important;
}

#nav-tap .ant-menu-item-icon {
  fill: #739c98;
  transform: translateY(10px);
}

.ant-menu-horizontal .ant-menu-item:hover {
  color: #739c98 !important;
}

#nav-tap .ant-menu-item-selected:hover {
  color: #ffffff !important;
  border-bottom: 2px solid #739c98 !important;
}

.tap {
  font-weight: bold;
}
