.location-price {
  display: flex;
  justify-content: space-between;
  color: var(--main-color-font);
  margin-top: 10px;
}

.bold-style {
  font-weight: bold;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color-font);
  margin: 0;
}

.location-price h3 {
  display: inline;
  margin: 0;
  color: var(--main-color-font);
  font-weight: bold;
}

.reviewers {
  display: inline;
  padding: 10px;
  color: var(--main-color-font);
}

.card {
  width: 300px;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--card-shadow);
}

.card-cover {
  height: 250px;
  border-radius: var(--border-radius);
  margin: 15px;
  background-repeat: no-repeat;
  width: auto !important;
  background-size: cover;
}

.card .ant-card-body {
  padding-top: 10px !important;
}
