.Input {
  display: flex;
  flex-direction: column;
  font-size: 5px;
}

.input-label {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.Slider {
  display: flex;
  flex-direction: row;
}

.slider-label {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 32px;
  margin-right: 13px;
}

.ant-input,
.ant-picker {
  border: var(--input-border);
  border-radius: var(--border-radius);
}

.ant-slider-track {
  background-color: var(--main-color);
}

.ant-slider-handle {
  border-color: var(--main-color);
}
